[submodule "client/subprojects/apclientpp"]
	path = client/subprojects/apclientpp
	url = https://github.com/black-sliver/apclientpp.git
[submodule "client/subprojects/wswrap"]
	path = client/subprojects/wswrap
	url = https://github.com/black-sliver/wswrap.git
[submodule "client/subprojects/zlib"]
	path = client/subprojects/zlib
	url = https://github.com/madler/zlib.git
[submodule "client/subprojects/openssl"]
	path = client/subprojects/openssl
	url = https://github.com/openssl/openssl.git
